@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: right;
}

ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid white;
    color: black;
}

.title-box {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    margin:5px;
    padding: 10px;
    color: black;
    font-family: "Libre Baskerville", serif;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    height: 300px;
    width: 400px;
}

.description{
    text-align: center;
    color: black;
    font-family: "Merriweather", serif;
    border-radius: 10px;
    border:1px solid black;
    margin: 25px;
    padding: 10px;
}

.description h3{
    text-align: center;
    font-family: Arial black;
    font-size: 21px;
    font-style: bold;
    margin: 10px;
    padding: 10px;
}