* {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid white;
    color: blueviolet;
}

.title-box {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    margin:5px;
    padding: 10px;
    color: black;
    font-family: Lobster;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    height: 300px;
    width: 400px;
}

.description{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border:1px solid black;
    margin: 25px;
    padding: 10px;
}
