.Portfolio-header {
    color: rgb(0, 0, 0);
    background-color: rgb(55 219 175 / 57%);
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.hero-section {
    font-family: Georgia, 'Times New Roman', Times, serif,;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(33 241 124 / 49%);
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}

.sub-headings {
    color: Black;
    background-color: rgb(105 229 229 / 67%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding:20px 20px 30px 30px;
    font-size: 20px;
    border-radius: 18px;
    margin: 20px;
}

article {
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #3d1bc3;
    background-color: none;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}

.container {
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #3d1bc3;
    background-color: none;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}

