@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-border-color: 2px solid black;
    --Primary-font-family-: Google Sans Flex, 'Archivo Black', Playfair Display, Lora, PT Serif, serif;
    --secondary-font-family: 'Archivo Black', Playfair Display, Lora, PT Serif, serif;
    --primary-color: blueviolet;
    --Box-color: rgb(238, 130, 238);
}