.header{
    color: rgb(0, 0, 0);
    background-color: rgb(112, 231, 229);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.about{
    color: blue;
    background-color: rgb(248, 247, 247);
    font-family: Arial, sans-serif;
    text-align: center;
    margin:auto;
    padding:10px;
    border-radius: 50px;
}

.info{
    color: rgb(10, 12, 19);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    margin:auto;
}

.subheadings{
    color: black;
    background-color: yellowgreen;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    border-color: cyan;
}

.tag{
    color:rgb(231, 9, 153);
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    border-color: none;
}

body{
    background-image: url('assets/download.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
