*{
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-border-color: 2px solid black;
    --Box-color: rgb(238, 130, 238);
}

.logo img{
    display: flex;
    justify-content: space-around;
    width: 164px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--primary-border-color);
    border-radius: 3px;
    background-color: antiquewhite;
}

.menu ul{
    display: flex;
    gap: 40px;
}
.menu ul li{
    display:flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.copied-from-another-tab {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}