*{
    margin:0px;
    padding:0px;
}

:root{
    --primary-border-color: 2px solid black;
    --Box-color: rgb(238, 130, 238);
}

.container{
    display:flexbox;
    border: var(--primary-border-color);
    height: 10rem;
    width: 100rem;
}

.item{
    border: var(--primary-border-color);
    height: 10px;
    width: 10px;
    
}
