* {
    margin: 0px;
    padding: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.image-container img {
    border-radius: 8px;
    transition: cubic-bezier(0.04, 1.3, 0.93, -0.31);
    position: relative;
}

.image-container img:hover {
    transform: rotate();
}

article {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 500;
    margin: 12px;
    padding: 15px;

}

body {
    background-image: url("assets/xvs");
    background-position: fixed;
    background-repeat: no-repeat;
    backface-visibility: visible;
}