* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgba(233, 91, 233, 0.875);
    --text-color: Black;
    --secondary-color: rgb(253, 249, 254);
    --tertiary-color: Yellowgreen;
    --primary-border: 2px solid white;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-color);
    padding: 1rem;
}

ul li {
    display: inline;
    list-style: none;
    margin: 2rem;
    color: var(--text-color);
}

li a {
    color: white;
    text-decoration: none;
}

/* Container-box */
.box-container {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    border: var(--primary-border);
    border-radius: 8px;
    padding: 10rem;
    margin: 2rem 2rem;
}

.container-1 {
    background-color: lightcyan;
    border: var(--primary-border);
    padding: 5rem;
    position: inherit;

}

.content-container {
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);
    border: var(--primary-border);
    border-radius: 12px;

}



body {
    background-color: var(--secondary-color);
}